.navbar{
    top: 0;
    background-color: #000;
    width: 100%;
    color:white;
    height: 80px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-transform: uppercase;
    z-index: 100;
}
.logo{
    margin:20px 40px;
    font-size: 20px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.links{
    margin-left: auto;
    margin-right: 40px;
    padding:30px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links .link{
    margin-left: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    
    
}
.navbar__search{
    margin-left: 60px;
}
.links .MuiSvgIcon-root{
    margin-left: 6px;
    
}