.edit_screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    height: 140vh;
}
.card_edit{
    width: 70vw;
    margin-top: 150px;
    margin-bottom: 30px;
}
.edit_form_container{
    margin: 20px;
    padding: 20px;
}

.card_register{
    width: 70vw;
    margin-top: 140px;
    margin-bottom: 30px; 
    height: auto;
}
.card_edit h1{
    text-align: center;
    margin-top: 20px;
}



.card_edit .input{
    margin-top: 30px;
    height: auto;
}

.card_edit .label{
    color: #D32F2F;
    border: 1px solid #FFCDD2;
    border-radius: 8px;
    width: 240px;
    padding: 5px;
    margin-top: 10px;
    display: block;   
}
.card_edit .btn{
    display: flex;
    justify-content: flex-end;
    margin: 30px 0px;
    margin-bottom: 20px;
}

@media(max-width: 800px){
    .card_edit{
        width: 90%;
    }
}