.login_screen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}

.login_screen h1{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.login_screen a{
    color: #448AFF;
    margin-left: 10px;
    text-transform: uppercase;
}

.login_screen a:hover{
    color: #4c76be;
   
}
