.customBtn{
    outline-width: 0;
    height: 60px;
    width: 250px;
    font-size: 20px;
    padding: 10px;
    background-color: #000;
    color: white;
    border: 2px solid white;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}
.customBtn:hover{
    background-color: white;

    border: 2px solid #000;
    color: #000;
}