.pagination .pagination_main{
    display: flex;
    align-items: center;
    padding: 10px;
}
.pagination .pagination_Link{
    margin: 10px;
    color: white;
    background-color: gray;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}