.detail_header{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.detail_header img{
    margin: 10px;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    object-fit: cover;
}
.list_item{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.list_item p{
    display: block;
}
.detail_header__right{
    margin-left: 70px;
}

.detials_header__rating{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
}
.detials_header__box{
    margin-top: 24px;
    margin-right: 10px;
}
.form_review{
    display: flex;
    flex-direction: column;
    width: 31rem;
    margin-top: 4rem;
}
.form_review .form_select{
    margin-bottom: 20px;
}
.review_btn{
    height: 35px;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: black;
    margin-top: 1.5rem;
}


.description{
    width: 600px;
}
.product_description{
    margin-top: 30px;
}

@media(max-width: 900px){
    .detail_header{
        flex-direction: column;
    }
    .detail_header__right{
        margin-top: 50px;
    }
}

@media(max-width: 550px){
    .detail_header img{
        width: 300px;
        height: 250px;
    }
    .detail_header__right{
        margin-left: 20px;
    }
    .description{
        width: 70vw;
    }
    .form_review{
        width: 26rem;

    }
}