.detail_header{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.detail_header img{
    margin: 10px;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    object-fit: cover;
}
.list_item{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.list_item p{
    display: block;
}
.detail_header__right{
    margin-left: 70px;
}

.detials_header__rating{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
}
.detials_header__box{
    margin-top: 24px;
    margin-right: 10px;
}



.description{
    width: 600px;
}
.product_description{
    margin-top: 30px;
}