.custom_input{
    width:350px;
    height: 40px;
    border-radius: 25px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}
.custom_input__input{
    outline-width: 0;
    border: none;
    width: auto;
    height: auto;
    background-color: transparent;
    
}