.footer{
    color: #ffffff;
    height: 13rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
    background-color: #000;
   
    bottom: 0;
}
.icon_footer{
    display: flex;
    align-items: center;
}
.footer_middle{
    text-align: center;
}
/* border: 2px solid #3F51B5;
    background-color: #448AFF; */

.icon_footer .MuiSvgIcon-root{
    color: white;
}
.icon_footer .button_footer{
    color: white;
    font-size: large;
}
.footer_right p{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.social_media{
    margin-top: 30px;
}
.icon_footer .MuiSvgIcon-root:hover{
    color: #448AFF;
}