.cartPage{
    margin-top: 120px;
    margin-left: 10%;
    width:70%;
    
}
.cartPage_alert{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartPage_cart{
}
.cartPage_total{
   display: flex;
   justify-content: flex-end;
}
.cartPage_total p{
    margin: 30px;
    font-size: 25px;
    font-family: 'Sansita Swashed', cursive;
}
.btn_group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;
}